$secondary-color-main: #00c2c2;
$secondary-color-1: #3ac2c2;
$secondary-color-2: #74c2c2;
$secondary-color-3: #b0dcdc;
$secondary-color-dark: #009999;
$primary-color-main: #febf10;
$primary-1: #fecf4c;
$primary-2: #fee398;
$primary-3: #fef1cb;
$success: #30d468;
$primary-dark: #e5ad0e;
$warning: #f39b33;
$error: #f95454;
$black: #0c0d0d;
$white: #ffffff;
$neutral-100: #0c0d0d;
$neutral-90: #313333;
$neutral-80: #4a4d4d;
$neutral-70: #636666;
$neutral-60: #7c8080;
$neutral-50: #949999;
$neutral-40: #adb2b2;
$neutral-30: #c6cccc;
$neutral-20: #dfe5e5;
$neutral-10: #f5f7f7;
